.form{
    width: 27%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    margin-top: 25px;
}

.form input{
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    outline: none;
    margin-top: 5px;
}

.form button{
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}